@font-face {
  font-family: '9_our_king';
  src: local('9_our_king'),
  url('../fonts/9-Our-King.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Krub';
  src: local('Krub'),
    url('../fonts/Krub-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Krub';
  src: local('Krub'),
    url('../fonts/Krub-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Krub';
  src: local('Krub'),
    url('../fonts/Krub-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Krub';
  src: local('Krub'),
    url('../fonts/Krub-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Krub';
  src: local('Krub'),
    url('../fonts/Krub-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Krub';
  src: local('Krub'),
    url('../fonts/Krub-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
