@import './fonts';
@import './button';
@import './section';

html {
  font-family: 'Krub';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
}

body {
  font-family: 'Krub';
  margin: 0px;
  color: black;
}

.modal-content {
  font-family: 'Krub';
  color: white;
  background-color: black;
  border: none;
  border-radius: 0;

  .modal-body {
    padding: 0;
  }
}
