@import url('./_fonts.scss');

html {
  font-family: 'Krub';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
}

body {
  font-family: 'Krub';
  margin: 0px;
  color: black;
}
